html 
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #393536;
  color:#1c1c1c;
}
*, *:before, *:after 
{
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body
{
    margin:0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

#welcome
{
    background-color: #393536;
    color: #efdcd3;
    font-size: 1em;
    text-transform: uppercase;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 999;
    height:100px;
}

#nav-header
{
    margin:0;
    text-align: center;
    line-height: 100px;
}

#code
{
    text-decoration: none;
    color:#3cafaa;
    border-bottom: #3cafaa 2px solid;
}

#me
{
    text-decoration: none;
    color:#efdcd3;
    border-bottom:2px #ee6233 solid
}

#me:hover
{
    color:#ee6233;
    border-bottom: #ee6233 2px solid;
}

#introduction-section
{
    width:100%;
    font-size: 1.5rem;
    background-color: #efdcd3;
    padding: 50px 0 50px 0;
    margin-top: 102px;
}

#introduction-section .content
{
    width:50%;
    margin:0 auto;
    padding: 20px 0 20px 0;
}

#introduction-section .content p
{
    margin:0 auto;
    line-height: 1.7em;
    letter-spacing: .02em;
    max-width: 575px;
}

#project-section
{
    /*padding-top: 85px;*/
    background-color: #393536;
    
}

#project-section .content
{
    width:90%;
    margin:0 auto;
    text-align: center;
}

.project-thumb
{
    display: inline-block;
    padding: 10px;
    width:45%;
    opacity: .75;
}

.project-thumb:hover
{
    opacity: 1;
}

.project-thumb img
{
    width:100%;
}

.social-container
{
    padding: 0 1rem;
    text-align: center;
}

.social-container a
{
    background-color: #393536;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px; 
    display: inline-block;
    margin: 1.25rem 5px;
    text-align: center;
    color:white;
    font-size:18px;
}

.social-container .fa
{
    opacity: .5;
}

.social-container a:hover .fa
{
    opacity: 1;
}

#social-facebook
{
    border: 1px solid #78517b;
}
#social-linkedin
{
    border: 1px solid #ee6233;
}

#social-github
{
    border: 1px solid #3cafaa; 
}

@media (max-width: 900px) 
{ 
    #introduction-section .content
    {
        width:65%;
        margin:0 auto;
        padding: 20px 0 20px 0;
    }
}

@media (max-width: 630px) 
{ 
    #introduction-section
    {
        padding:10px 0 10px 0;
    }
    #introduction-section .content
    {
        width:80%;
    }
}

@media (max-width: 481px)
{
    #nav-header
    {
       font-size: 1.75em;
    }
}

@media (max-width: 423px) 
{ 
    #introduction-section
    {
        padding:25px 0 25px 0;
    }
    #introduction-section .content
    {
        width:90%;
        padding:0;
    }
    #nav-header
    {
       font-size: 1.60em;
    }
}